<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-bordered table-striped">
    <tr>
        <td>申请编号</td>
        <td>21080601</td>
        <td>申请日期</td>
        <td>[[${result.today}]]</td>
    </tr>
    <tr>
        <td>姓名</td>
        <td>[[${result.name}]]</td>
        <td>员工号</td>
        <td>[[${result.emId}]]</td>
    </tr>
    <tr>
        <td>部门</td>
        <td>[[${result.emId}]]</td>
        <td>职位</td>
        <td>[[${result.position}]]</td>
    </tr>
    <tr>
        <td>项目经理</td>
        <td>[[${result.emId}]]</td>
        <td colspan="2"></td>
    </tr>
</table>
</body>
</html>