<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>免费网站</title>
</head>
<body>
<p>
    一、视频类<br>
    1.<a href="https://www.yugaopian.cn/">预告片世界： https://www.yugaopian.cn/</a><br>
    2.<a href="http://33.agilestudio.cn/">33台词： http://33.agilestudio.cn/</a><br>
    3.<a href="https://mixkit.co/free-stock-video/">MixKit： https://mixkit.co/free-stock-video/</a><br>
    4.<a href="https://www.pexels.com/zh-cn/video/">Pexel： https://www.pexels.com/zh-cn/video/</a><br>
    5.<a href="https://www.videezy.com/">Videezy：https://www.videezy.com/</a><br>
    6.<a href="https://www.vjshi.com/">VJShi： https://www.vjshi.com/</a></p>
<p>
    二、PPT模板类<br>
    1.<a href="http://www.51pptmoban.com/">51PPT模板：http://www.51pptmoban.com/</a><br>
    2.<a href="https://www.ypppt.com/">优品PPT：https://www.ypppt.com/</a><br>
    3.第一PPT：<a href="">http://www.1ppt.com/</a><br>
    4.叮当设计：<a href="">https://www.dingdangsheji.com/</a><br>
    5.PPT超级市场：<a href="">http://ppt.sotary.com/web/wxapp/index.html</a></p>
<p>
    三：静态图片<br>
    1.PH：<a href="">https://pxhere.com/</a><br>
    2.CC0图片网：<a href="">https://cc0.cn/</a><br>
    3.Foodiesfeed：<a href="">https://www.foodiesfeed.com/</a><br>
    4.Unplash：<a href="">https://unsplash.com/</a><br>
    5.Pixabay：<a href="">https://pixabay.com/</a></p>
<p>
    四、动态图<br>
    1.Giphy：<a href="">https://giphy.com/</a><br>
    2.GfyCat：<a href="">https://gfycat.com/</a><br>
    3.Tenor：<a href="">https://tenor.com/</a><br>
    4.GIF ABYSS：<a href="">https://gifs.alphacoders.com/</a><br>
    5.动图宇宙：<a href="">https://biaoqingsoso.com/</a><br>
    6.Soogif：<a href="">https://www.soogif.com/</a><br>
    7.闪萌：<a href="">http://www.weshineapp.com/</a></p>
<p>
    五、壁纸<br>
    1.<a href="https://wallhaven.cc/">WallHaven：https://wallhaven.cc/</a><br>
    2.<a href="https://www.10wallpaper.com/">10Wallpaper：https://www.10wallpaper.com/</a><br>
    3.<a href="https://wall.alphacoders.com/?lang=Chinese">alphacoders：https://wall.alphacoders.com/?lang=Chinese</a><br>
    4.<a href="https://bz.zzzmh.cn/index">极简壁纸：https://bz.zzzmh.cn/index</a><br>
    5.<a href="https://www.3gbizhi.com/">3G壁纸：https://www.3gbizhi.com/</a><br>
    6.<a href="https://bing.ioliu.cn/">必应壁纸：https://bing.ioliu.cn/</a></p>
<p>
    六、图标类<br>
    1.<a href="https://www.iconfont.cn/">阿里巴巴矢量图库：https://www.iconfont.cn/</a><br>
    2.Ikonate：<a href="">https://ikonate.com/</a><br>
    3.iconstore：<a href="">https://iconstore.co/</a><br>
    4.icoon：<a href="">https://icooon-mono.com/</a><br>
    5.iconfinder：<a href="">https://www.iconfinder.com/</a><br>
</p>
<p>
    七、PSD模板<br>
    1.素材中国：<a href="">http://www.sccnn.com/</a><br>
    2.站长素材：<a href="">https://sc.chinaz.com/psd/</a><br>
    3.365PSD：<a href="">https://cn.365psd.com/free-psd</a><br>
    4.freepik：<a href="">https://www.freepik.com/psd</a><br>
    5.freebiesbug： <a href="">https://freebiesbug.com/</a></p>
<p>
    八、音频类<br>
    1.Mixkit：<a href="">https://mixkit.co/free-stock-music/</a><br>
    2.爱给网：<a href="">https://www.aigei.com/</a><br>
    3.淘声网：<a href="">https://www.tosound.com/</a><br>
    4.耳聆：<a href="">https://www.ear0.com/</a>
</p>
<p>
    九、字体类<br>
    1.素材中国：<a href="">http://www.sccnn.com/ziku/</a><br>
    2.100Font：<a href="">https://www.100font.com/</a><br>
    3.DaFont：<a href="">https://www.dafont.com/</a><br>
    4.自由字体：<a href="">https://ziyouziti.com/</a></p>
<p>
    十、配色<br>
    1.<a href="http://zhongguose.com/">中国色彩：http://zhongguose.com/</a><br>
    3.ColorHex：<a href="">https://www.colorhexa.com/</a><br>
    4.优色网配色专区：<a href="">https://color.uisdc.com/</a><br>
    4. ColorDrop：<a href="">https://www.colordrop.io/</a><br>
    5.LOL Colors：<a href="">https://www.webdesignrankings.com/resources/lolcolors/</a><br>
    6.colorHunt：<a href="">https://colorhunt.co/</a><br>
    7.Adobe Color：<a href="">https://color.adobe.com/zh/create/color-wheel</a><br>
    8.uigradients：<a href="">https://uigradients.com/#PiggyPink</a><br>
    9.webgradient：<a href="">https://webgradients.com/</a></p>
</body>
</html>