<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index | boot</title>
</head>
<body>
<input type="date" value="2020-02-18">
<form action="/applyAccount" method="post">
    <input type="text" name="name" placeholder="input name here"><br>
    <input type="radio" name="male">男
    <input type="radio" name="female">女<br>
    <input type="checkbox" name="single">单
    <input type="checkbox" name="double">双<br>
    <button>submit</button>
</form>
<hr>
小说：<br/>
<form action="/article" method="get">
    <button>get</button>
</form>
<a href="/data">datatable</a><br>
<a href="/cal">calculate</a><br>
</body>
</html>